* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #F1F2B5 0%, #135058 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    animation: fadeIn 1s ease-in;
}

#container {
    background-color: #ffffff;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.label {
    font-size: 1.5rem;
    color: #2F4F4F;
    margin-bottom: 1rem;
    display: block;
}

#passwordLength {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid #2F4F4F;
    margin-bottom: 20px;
}

button {
    background-color: #2F4F4F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3B9A9C;
}

#passwordResult {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
